body {
    padding: 0 25px;
}

main {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.nav {
    display: flex;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: gray;
}

.content-title {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.content-left {
    box-sizing: border-box;
    width: 50%;
}

.content-right {
    box-sizing: border-box;
    width: 50%;
}


.active {
    display: block;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: darkslategrey;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background: black;
    color: gray;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: lightgray;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}


.image {
    width: 100%;
    display: hidden;
}
.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.content-image span {
    color: gray;
}*/

.circle {
    display: flex;
    justify-content: center;
    background: lightgray;
    border-radius: 50%;
    width: 1.2em;
}

.error-message {
    margin-top: 0;
    color: red;
    font-size: 0.8em;
}

.icon-avatar {
    display: flex;
    justify-content: center;
    max-width: 10px;
    padding: 200px,20px,20px,20px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }
    
    .content-left {
        width: 100%;
    }
    
    .content-right {
        width: 100%;
    }

    .navigation {
        flex-direction: column;
    }

    .nav {
        display: none !important;
        /*flex-direction: column;*/
    }
}