body {
    padding: 0 25px;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.nav {
    display: flex;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: gray;
}

.content-title {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.content-left {
    box-sizing: border-box;
    width: 50%;
}

.content-right {
    box-sizing: border-box;
    width: 50%;
}

.contact-us {
    margin-bottom: 50px;
}



.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: darkslategrey;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tombol {
    display:inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: darkslategrey;
    color: white;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 5px;
}


.button:hover {
    background: black;
    color: gray;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: lightgray;
    border-radius: 2%;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}


.image {
    width: 100%;
    display: hidden !important;
}

.active {
    display: block;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.content-image span {
    color: gray;
    padding-top: 30px;
}



.profile {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    border-bottom: 5px;
}

.circle {
    display: flex;
    justify-content: center;
    background: lightgray;
    
    border-radius: 100%;
    width: 2em;
    align-items: center;
}


.our-products {
    display: flex;
    flex-direction: column;
}

.product-desc {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.bottom-tittle {
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.error-message {
    margin-top: 0;
    color: red;
    font-size: 0.8em;
}

.item-list {
    
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px ;
}

.circle2 {
    font-size: var(--normal-font-size);
    background-color: var(--base-color);
    clip-path: circle(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--padding-35px);
    height: var(--padding-35px);
    margin-right: var(--normal-font-size);
}

.item-desc {
    margin: 10px 10px 10px 10px;
    
}

.icon {
    padding: 10px 5px 10px 5px;
    max-width: 25px;
}

.avatar {
    padding: 10px 20px 10px 5px;
    max-width: 50px;
}

.bottom-content {
    display: block;
    block-size: 100px;
    margin: 50px 0px 100px 0px;
    border-top: 1px solid gray;
    text-align: center;

}
.bottom-text {
    margin: 10px 10px 10px 10px;
}


.footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid gray;
    font-size: 0.8em;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }
    
    .content-left {
        width: 100%;
    }
    
    .content-right {
        width: 100%;
    }

    .navigation {
        flex-direction: column;
    }

    .nav {
        /*display: none !important;*/
        flex-direction: column;
    }
}